<div class="search-layout">
    <div class="search-wrap">
        <h1>Order Takeaway or Delivery Food</h1>
        <small>Ridiculus sociosqu cursus neque cursus curae ante scelerisque vehicula</small>
        <div class="search-bar">
            <input placeholder="Your Address or Postal Code">
            <img src="assets/images/magnifying-glass.svg" alt="ma">
        </div>
        <br>
        <br>
        <br>
        <div class="counter">
            <h4>2650 <small>Restaurant</small></h4>
            <h4>5350 <small>People Served</small></h4>
            <h4>12350 <small> Registered Users</small></h4>
        </div>
    </div>
</div>