<div class="service-layout">
    <div class="title">
        <h1>How It Works</h1>
        <small>Cum doctus civibus efficiantur in imperdiet deterruisset.</small>
    </div>
    <br>
    <br>
    <div class="card-list">
        <div class="card">
            <img src="/assets/images/placeholder.svg" alt="search">
            <h4>Search by Address</h4>
            <p>Find all resturants available in your zone</p>
        </div>
        <div class="card">
            <img src="/assets/images/shop.svg" alt="search">
            <h4>Choose a Restaurant</h4>
            <p>We have more than 1000s of menus online.</p>
        </div>
        <div class="card">
            <img src="/assets/images/credit-cards.svg" alt="search">
            <h4>Pay by Card or Cash</h4>
            <p>It's quick, easy and totally secure.</p>
        </div>
        <div class="card">
            <img src="/assets/images/delivery-truck.svg" alt="search">
            <h4>Delivery or Takeaway</h4>
            <p>You are lazy? Are you backing home?</p>
        </div>
    </div>
    <br>
    <div style="display: flex;  flex-direction: column; margin-top: 25px; justify-content: center; align-items: center;"><h2>25</h2><span>Mins delivery time</span></div>
    <!-- <img src="/assets/images/delivery-truck2.svg" alt="delll"> -->
    <br>
    <br>

</div>