// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$restaurant-primary: mat-palette($mat-indigo);
$restaurant-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$restaurant-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$restaurant-theme: mat-light-theme($restaurant-primary, $restaurant-accent, $restaurant-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($restaurant-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  margin: 0;
  height: 100vh;
  font-family: Nunito;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: #ef5181;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #ef5181;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #5a3741;
}

.service-layout {
  text-align: center;
  .title {
    display: block;
    padding-top: 50px;
    h1 {
      // font-weight: 900;
      font-size: 2.8rem;
      color: #d50000;
    }
    small {
      font-size: 25px;
      // font-weight: 700;
      color: #004983;
    }
  }
}

.modal-content {
  background-image: url(/assets/images/bg.jpg);
  background-repeat: repeat-y;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  width: auto;
  pointer-events: auto;
  background-color: white;
  background-clip: padding-box;
  border: none !important;
  border-radius: 0.3rem;
  outline: 0;
}

.modal-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: none !important;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  .close {
    color: black;
    opacity: 1;
  }
}

.modal-body {
  padding: 30px;
  color: white;
}

.modal.right.fade .modal-dialog {
  right: 0px;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
  -o-transition: opacity 0.3s linear, right 0.3s ease-out;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 320px;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}
.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
}

.modal.right .modal-body {
  padding: 15px 15px 80px;
}

.primary-btn {
  padding: 3px;
  border-radius: 20px;
  background: #00488300;
  min-width: 80px;
  text-align: center;
  border: 1.5px solid #004983;
  a {
    font-size: 12px;
    font-weight: 700;
    color: white;
  }
}
.primary-btn:hover {
  // box-shadow: 0px 0px 2px 1px #2e5bff;
  // border: 0px !important;
  cursor: pointer;
  background: #004983;
  a {
    color: #fff;
  }
  a:hover {
    color: #fff;
  }
}
h1, .nav-link {
  font-family: "Segoe UI" !important;
}


.card {
  background: #ffffff;
  box-shadow: 0px 3px 15px rgba(0, 73, 131, 0.12);
  border-radius: 8px;
  text-align: center;
  padding: 20px;
  min-width: 300px;
  min-height: 250px;
  border: none;
  align-items: center;
  position: initial;

  i{
    font-size: 80px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #004983;
  }
  // img {
  //   width: 100px;
  //   margin: 20px 0px 15px 0;
  // }
  h4 {
    font-weight: 700;
    color: #004983;
    font-family: "Segoe UI" !important;
  }
  p {
    font-weight: 700;
    font-size: 12px;
    color: #d50000
  }
}

.card:hover {
  cursor: pointer;
  box-shadow: 1px 4px 15px rgba(0, 73, 131, 0.26);
}
