<div class="service-layout">
    <div class="title">
        <h1>Works With Us</h1>
        <small>Cum doctus civibus efficiantur in imperdiet deterruisset.</small>
    </div>
    <br>
    <br>

    <div class="row">
        <div class="card">
            <img mat-card-image src="/assets/images/restaurant.jpg" alt="signup">
            <div class="card-content">
                <h4>Sign-Up Restaurant</h4>
                <small>Start to earn from Customers</small>
                <p>Lorem ipsum dolor sit amet, ut virtute fabellas vix, no pri falli eloquentiam adversarium. Ea
                    legere
                    labore eam. Et eum sumo ocurreret, eos ei saepe oratio omittantur, legere eligendi partiendo pro
                    te.
                </p>
                <div class="primary-btn">
                    <a>Read More</a>
                </div>
            </div>
        </div>
        <div class="card">
            <img style="padding: 20px;" mat-card-image src="/assets/images/platform.jpg" alt="signup">
            <div class="card-content">
                <h4>Own a Platform</h4>
                <small>Start to Earn Money as Administrator</small>
                <p>Lorem ipsum dolor sit amet, ut virtute fabellas vix, no pri falli eloquentiam adversarium. Ea
                    legere
                    labore eam. Et eum sumo ocurreret, eos ei saepe oratio omittantur, legere eligendi partiendo pro
                    te.
                </p>
                <div class="primary-btn">
                    <a>Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>